<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/main.css" />
    <title>{{HTML_title}}</title>
  </head>

  <body>
    <main>
      {{{body}}}
    </main>
  </body>

</html>