<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/main.css" />
    <title>{{HTML_title}}</title>
  </head>

  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/gamecatalog">Games</a></li>
      {{#if id}}
        <li><a href="/profile/{{id}}">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      {{/if}}
    </ul>
    <main>
      {{{body}}}
    </main>
  </body>

</html>