<h1>
  Game Catalog
</h1>
{{#if id}}
<form action="/GameCatalog/gameform">
    <button type="submit">Enter a new game</button>
</form>
{{/if}}
<form method="POST" action="/gamecatalog" id="gamesearch">
  <label for="gameSearchTerm" id="Search">Search:</label>
  <input type="text" name="gameSearchTerm" id="gameSearchTerm" />
  <button type="submit">Submit</button>
</form>
<ul id="gameList">{{#each games}}
    <li>
      <a href="/game/{{_id}}">{{title}}</a>
    </li>
  {{/each}}</ul>
  <p id="searcherror"></p>
{{#if error}}
  <p class="error">
    {{errormsg}}
  </p>
{{/if}}
<a href="/GameCatalog" id="backLink">Get All Games</a>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script src="/public/js/gamecatalog.js"></script>