<body>
    <header>
        <h1>
            Game Catalog
        </h1>
    </header>
    <p id="searcherror" hidden> Need to enter a search term</p>
    <form id="gamesearch">
        <label for="search_term">Search:</label>
        <input type = "text" name="search_term" id ="search_term"/>
        <button type="submit">Submit</button>
    </form>
    <ul id = "gameList">{{#each games}}
    <li>
      <a href= "/game/{{_id}}">{{title}}</a> 
    </li> 
    {{/each}}</ul>
    <a href ="/GameCatalog" id="backLink" hidden>Get All Games</a>
</body>