<div class="outer">
  <div class="middle">
    <div class="inner">
      <p class="{{class}}" id="error">Error {{status}}: {{message}}</p>
      <a class="go_back" href="javascript:history.back()">Go Back</a>
    </div>
  </div>
</div>