<h1>
  Game Form
</h1>
<form id="gameform">
  <label for="title" id="Title">Title:</label>
  <input type="text" name="title" id="title" />
  <label for="description" id="Description">Description:</label>
  <input type="text" name="description" id="description" />
  <label for="image" id="Image">Image link:</label>
  <input type="text" name="image" id="image" />
  <button type="submit">Submit</button>
</form>
<p id="error" hidden>Error</p>
<dl id= "addedgame" hidden></dl>
<a href="/GameCatalog" id="backLink">Back to Game Catalog</a>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script src="/public/js/gameform.js"></script>