<article>
  <h1>Game Ranker</h1>
  <p>Game Ranker is a website for rating games you have played and seeing how
    your friends rank games they played. It is ideal for keeping track of your
    favorite games figuring out what games to play next based on the reviews of
    your trusted friends.</p>
  {{#if id}}
    <h2>Recommendations</h2>
    <ul>
      {{#each recs}}
        <li>
          <a href="/game/{{_id}}">{{title}}</a>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</article>